@import "tailwindcss";

@theme {
  --color-bg: #111;
  --color-shine: #151515 ;
  --color-emerald: #00C853;
  --color-emeraldActive: #00e25e;
  --color-pine: #1DB954;
  --color-divider: #242424;
  --color-filter: #222;
  --color-filterActive: #333;
  --color-primaryText: #fff;
  --color-secondaryText: #ddd;
  --color-placeholderText: #aaa;
  --color-danger: #e7000b;
  --color-dangerActive: #ff0000;
}

:root {
  --bg: #111;
  --shine: #151515;
  --emerald: #00C853;
  --emeraldActive: #00e25e;
  --pine: #1DB954;
  --divider: #242424;
  --filter: #222;
  --filterActive: #333;
  --primaryText: #fff;
  --secondaryText: #ddd;
  --placeholderText: #aaa;
  --danger: #e7000b;
  --dangerActive: #ff0000;
}

@font-face {
  font-family: 'Manrope';
  src: url('/src/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'Manrope';
}

html, body {
  background: var(--bg);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(36, 36, 36, 0.3);
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
}

.scrollbar-visible::-webkit-scrollbar {
  width: 5px !important;
}

button {
  font-weight: bold;
}

a, button {
  cursor: pointer;
}

.btn-cancel {
  padding: 0.5rem 1rem;
  border: solid 2px var(--placeholderText);
  border-radius: 3px;
  color: var(--placeholderText);
  transition: all 0.2s;
}
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active {
  border: solid 2px var(--secondaryText);
  color: var(--secondaryText);
}

.btn-confirm {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: var(--emerald);
  color: var(--bg);
  transition: all 0.3s;
}

.btn-confirm:hover,
.btn-confirm:focus,
.btn-confirm:active {
  background: var(--emeraldActive);
}

.btn-danger1 {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: var(--danger);
  color: var(--primaryText);
  transition: all 0.3s;
}
.btn-danger1:hover,
.btn-danger1:focus,
.btn-danger1:active {
  background: var(--dangerActive);
}

.btn-danger2 {
  padding: 0.5rem 1rem;
  border: solid 1px var(--danger);
  border-radius: 3px;
  background: var(--bg);
  color: var(--danger);
  transition: all 0.3s;
}
.btn-danger2:hover,
.btn-danger2:focus,
.btn-danger2:active {
  border: solid 1px var(--dangerActive);
  color: var(--dangerActive);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: solid 1px var(--divider);
  border-radius: 1rem;
}

.auth-form input {
  width: 100%;
  padding: 0.5rem 0.25rem 0.25rem;
  border-bottom: solid 1px var(--placeholderText);
  color: var(--secondaryText);
}
.auth-form input::placeholder {
  color: var(--placeholderText);
}

/* override default autofill styles */
.auth-form input:-webkit-autofill,
.auth-form input:-webkit-autofill:hover,
.auth-form input:-webkit-autofill:focus,
.auth-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
  -webkit-text-fill-color: var(--primaryText) !important;
}

.auth-form button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: var(--emerald);
  color: black;
  transition: all 0.25s;
}
.auth-form button:hover,
.auth-form button:active,
.auth-form button:focus {
  padding: 0.5rem 4rem;
  background: var(--emeraldActive);
}

.auth-form a {
  color: var(--secondaryText);
}
.auth-form a:hover {
  color: var(--primaryText);
}

.filters-container {
  width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
}

.filters-container div::-webkit-scrollbar {
  width: 0;
}

.todo-checkbox {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  border: solid 1px var(--divider);
  opacity: 0.1;
  cursor: pointer;
}

.todo-checkbox:checked {
  accent-color: var(--pine);
  opacity: 1;
}

.modal-form {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: solid 1px var(--divider);
  border-radius: 1rem;
  background: var(--bg);
}

.modal-form h2 {
  color: var(--primaryText);
  font-size: xx-large;
}

.modal-form p {
  color: var(--secondaryText);
  font-size: small;
}

.modal-form select {
  width: 100%;
  padding: 0.25rem;
  border: solid 1px var(--divider);
  border-radius: 0.5rem;
  color: var(--secondaryText);
}

.modal-form option {
  background: var(--bg);
  color: var(--secondaryText);
}

.modal-form input {
  width: 100%;
  padding: 0.5rem 0.25rem 0.25rem;
  border-bottom: solid 1px var(--placeholderText);
  color: var(--secondaryText);
}

/* override default autofill styles */
.modal-form input:-webkit-autofill,
.modal-form input:-webkit-autofill:hover,
.modal-form input:-webkit-autofill:focus,
.modal-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
  -webkit-text-fill-color: var(--primaryText) !important;
}

.modal-form textarea {
  min-height: 7rem;
  max-height: 12rem;
  width: 100%;
  padding: 0.25rem;
  border-radius: 6px;
  background: var(--filter);
  color: var(--secondaryText);
}

.modal-form input::placeholder,
.modal-form textarea::placeholder {
  color: var(--color-placeholderText);
}

.settings-btn {
  padding: 0.25rem 1rem;
  border-radius: 3px;
  background: var(--primaryText);
  color: var(--bg);
  transition: all 0.2s;
}
.settings-btn:hover,
.settings-btn:focus,
.settings-btn:active {
  background: var(--secondaryText);
  color: var(--bg);
}